# Dependencias
node_modules/
.pnpm-store/

# Construcción
dist/
build/
.next/

# Variables de entorno (¡CRÍTICO!)
.env
.env.*
.env.local

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Prisma
generated/

# Supabase
supabase

# TiDB
TiDB